<artical>
    <div class="post-title">
        <h2><a href="{{post_url}}">{{ formatTitle title }}</a></h2>
        <span class="font-span">by {{ user.username }} {{formatDate createdAt}}</span>
    </div>
    <div class="post-body">
        <p>{{ post_info }}</p>
    </div>
</artical>