<ul class="post-list">
    {{#each posts as |p|}}
        <li class="post-list-items">
            <artical>
                <div class="post-title padding-lr">
                    <h2>{{ p.title }}</h2>
                    <span class="font-span">by {{user.username}} {{p.createdAt}}</span>
                </div>
                <div class="post-body">
                    <p>{{ p.post_info }}</p>
                </div>
                <div class="padding-lr">
                    {{ comments.length }} <span class="font-span">Comment</span> 
                </div>
            </artical>
        </li>
    {{/each}}
</ul>