<section class="profile-greeting">
    {{#if isUser}}
        <div class="greeting-text">
            <h2>{{timeOfDay date}} {{username}}</h2>
        </div>
    {{else}}
        <div class="greeting-text">
            <h2>Now viewing {{user.username}}'s profile</h2>
        </div>
    {{/if}}
</section>

<div class="profile-wrapper ">
    <section>
        {{#if isUser}}
            <h2>My Posts</h2>
        {{else}}
            <h2>{{user.username}}'s Posts</h2>
        {{/if}}
        <div class="profile-post border-box">
            <ul>
                {{#each user.posts as |post|}}
                    <li class="profile-post-list">
                        <h3><a href="/post/{{post.id}}">{{formatTitle post.title}}</a></h3>
                        <p>{{post.post_info}}</p>
                        {{#if ../isUser}}<a href='/post/edit/{{post.id}}' class="edit-btn">Edit Post</a>{{/if}}
                    </li>
                {{/each}}
                {{#unless user.posts}}
                <li>
                    <h4>User has no posts</h4>
                </li>
                {{/unless}}
            </ul>
        </div>
    </section>
    
    {{#if isUser}}
    <section>
        <h2>Create New Post</h2>
        <div class="create-post border-box">
            <form class="post-form">       
                <label>
                    <span class="font-span">Title</span>
                    <input type='text' id="title" name="post-create" />
                </label>
                
                <label >
                    <span class="font-span">Post Url</span>
                    <input type="text" id="post-url" name="post-create" />    
                </label>  

                <label>
                    <span class="font-span">Description</span>
                    <textarea type="text" id="post-info" rows="12" cols="70" maxlength="700"></textarea>
                </label>
                
                <div>
                    <button type="submit">Post</button>
                </div>
            </form>
        </div>
    </section>
    {{/if}}
    <section>
        {{#if isUser}}
        <h2>My Likes</h2>
        {{else}}
        <h2>{{user.username}}'s likes</h2>
        {{/if}}
        <div class="like-list border-box">
            <ul>
                <li>Coming Soon</li>
            </ul>
        </div>
    </section>
</div>

{{#if isUser}}
    <script src="/javascript/post.js"></script>
{{/if}}


